<html>
    <head>
    </head>
    <body>
        <h1>Welcome to Online library</h1>
        <h3>Your user name is <%= @user.user_name %> </h3>
        <h3>You have successfully signed in </h3>

    </body>
</html>