<%# if @state.present? %>
  <%#= turbo_stream.replace "country_state_list" do %>
    <option>Select State</option>
      <% @state.each do |state|  %>
        <option value="<%= state.state_name %>" >
          <%=  state.state_name  %>
        </option>
    <% end %>
  <%# end %>
<%# end %>
